body {
  background-color: rgba(240, 255, 255, 0.74);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: rgb(44, 44, 44);
}

.timer {
  display: flex;
  flex-basis: 350px;

  width: 500px;
  padding: 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  background-color: rgb(69, 8, 82);
  color: white;
  border-radius: 8px;

  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  align-items: center;
}

.timer .field {
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  border: 3px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

.timer .value {
  font-size: 40px;
}
